*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    transition: all 0.5s;
    /* font-family: "Philosopher", sans-serif */
}
/* variables */

:root{
    --sarlavhalarColor: #150C01;
    --sarlavhaFontweight: 700;
    --sarlavhaFontFam: "Philosopher";
    --matnOpacity: 70%;
    --sarlavhaLineH: 40.63px;
    --matnFontWeight: 400;
}

h1, h2, h3, h4, h5{
    font-family: var(--sarlavhaFontFam);
}
p{
    opacity: var(--matnOpacity);
}
.container{
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}


header{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
    align-items: center;
}
.nav-child{
    font-size: 16px;
    color: #150C01;
    font-weight: 500;
    opacity: 60%;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}
.tugma{
    padding: 13px 30px;
    font-size: 16px;
    text-decoration: none;
    background-color: #DC780B;
    border-radius: 5px;
    color: #fff;
    border: 2px solid transparent;
}

.hero-left{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
}
.hero-right{
    width: 55%;
    position: absolute;
    z-index: -2;
    left: 50%;
}

.hero-sarlavha{
    font-family: "Philosopher", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #150C01;
}
.matn{
    font-size: 1rem;
    font-weight: 500;
    color: #150C01;
}
.wrapper-btns{
    max-width: 358px;
    display: flex;
    gap: 2rem;
}
.tugma{
    border-color: transparent;
}

.tug{
    background-color: transparent;
    border:  2px solid #DC780B;
    color: #DC780B;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;   
}
.hero-img{
    width: 100%;
}


.tugma:hover{
    background-color: transparent;
    border-color: #DC780B;
    color: #DC780B;
    cursor: pointer;
}

.tug:hover{
    background-color: #DC780B;
    border-color: transparent;
    color: #fff;
}

.nav-child:hover{
    color: #DC780B;
}

#header2{
    display: none;
}
.second-page-span{
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: #DC780B;
}

.wrapper-img{
    padding: 1rem;
    border-radius: 50%;
    background-color:#f4f7eb;
    max-width: 88px;
    max-height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-2{
    background-color:#e6dbd9;
}

.box-3{
    background-color: #fcf2e7;
}
.box-1-rasm{
    max-width: 47px;
    height: auto;
}
.box-sarlavha{
    color: var(--sarlavhalarColor);
    font-weight: var(--sarlavhaFontweight);
    font-size: 	1.5625rem;
    margin-top: 33px;
}

.box-matn{
    line-height: 24px;
    color: var(--sarlavhalarColor);
    font-weight: 400;
    margin-top: 1rem;
    text-align: center;
}
.box-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 28%;
}
.wrapper-delivery{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-headerr{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.8rem;
}
.second-page-h2{
    color: #150C01;
    font-weight: 2rem;
}
.h22{
    font-size: 2rem;
    color: var(--sarlavhalarColor);
    font-family: var(--sarlavhaFontFam);
}
.about-left{
    width: 50%;
}
.about-left-img{
    width: 100%;
    border-radius: 5%;
}
.about-right{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: flex-start;
}
.wrapper-about-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
}
.matnn{
    text-align: left;
}

#text{
    max-width: 748px;
}
.menu-header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.menu-item{
    border: 2px solid #0000001A;
    width: 31.5%;
    border-top-left-radius: 75px;
    border-top-right-radius: 10px;
    border-top-color: transparent;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: auto;
    padding-bottom: 20px;
}
.menu-item-header{
   height: 60%;
}
.item-img{
    width: 100%;
    border-top-left-radius: 75px;
    border-bottom-right-radius: 75px;
    border-top-right-radius: 10px;
}
.menu-item-footer{
    height: 40%;
}
.item-footer-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-item-footer{
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.sarr{
    margin-top: 0;
}
.plus{
    background-color: #DC780B;
    padding: 15px;
    border-color: transparent;
    color: white;
   width: 15%;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
}
.stars{
    width: 30%;
}
.item-footer-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-item-footer .matn{
    line-height: 24px;
    opacity: var(--matnOpacity);
    font-weight: 400;
}

.wrapper-menu-items{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.tugm{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 7.2rem;
}
.tugm button{
    font-weight: 500;
    border: 1px solid #DC780B;
}
.takeaway-left{
    width: 45%;
}
.takeaway-left p{
    text-align: left;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}
.takeaway-left h4{
    margin-top: 5px;
}
.tuggg{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color: #150C01;
    color: white;
    padding: 11px 24px;
    border-radius: 5px;
    border-color: transparent;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}
.tugg{
    display: flex;
    gap: 1.8rem;
    align-items: center;
}
.logos{
    width: 24px;
    height: 26px;
}
.tuggg p{
    margin: 0;
}

.hh{
    background-color: transparent;
    color: #150C01;
    border-color: #150c011c;
}
.takeaway{
    background-color: #FBF1E7;
    padding-top: 	7.125rem;
    padding-bottom: 	7.125rem;
}
.wrapper-takeaway{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 3%;
}
.takeaway-right{
    position: absolute;
    left: 65%;
}
.swiper {
    max-width: 1000px;
    height: 300px;
  }

.clients{
    margin-top: 12rem;
}

.wrapper-clients-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.wrapper-clients-header .matn{
    max-width: 750px;
}

.general-img{
    border-radius: 50%;
}

.wrapper-swiper-slide{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.wrapper-swiper-slide .stars{
    width: 10%;
}
.wrapper-swiper-slide .box-matn{
    max-width: 700px;
}
.wrapper-swiper-slide .up{
    text-transform: uppercase;
    color: #150C01;
    opacity: 100%;
}
.wrapper-swiper-slide .about{
    font-size: 12px;
}
.last{
   background-color: HSL(31, 77%, 94%);
}

.sa{
    margin-top: 4rem;
    text-align: center;
    color: #DC780B;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.wrapper-last-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.salom{
    padding-right: 5%;
    padding-left: 5%;
}
input{
    padding: 1.4rem 2rem;
    background-color: white;
    color: #DC780B;
    text-align: left;
    border-radius: 5px;
    border: none;
    border-color: transparent;
    outline: none;
    width: 80%;
    font-size: 1rem;
}
#send{
    width: 20%;
    background-color: #DC780B;
    color: #FFFFFF;
    text-align: center;
}

form{
    display: flex;
    align-items: center;
    max-width: 750px;
    width: 100%;
    margin-top: 3rem;
    padding-bottom: 7.2rem;
}
#tex::placeholder{
    font-size: var(--matnFontWeight);
    opacity: 70%;
    font-size: 1rem;
}

footer{
    background-color: #252525;
    color: #fff;
    font-family:"Philosopher";
}
li{
    color: #fff;
    opacity: 70%;
    font-size: 14px;
    cursor: pointer;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.home{
    opacity: 100%;
    font-size: 18px;
    font-weight: 700;
}
.wrapper-footer-logos{
    display: flex;
    gap: 0.4rem;
}
.wrapper-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 5rem;
    flex-wrap: wrap;
}

.footer-a{
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff72;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    justify-content: center;
}
.plus:hover{
    cursor: pointer;
}

.footer-logo:hover{
    transform: scale(1.1);
}



@media(max-width: 768px){
    .headerr{
        display: none;
    }
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .hero-left{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
    .hero-right{
        width: 100%;
    }
    .hero-img{
        width: 100%;
    }
    .hero-sarlavha{
        text-align: center;
    }
    .hero-right{
        position: unset;
    }
    .wrapper-btns{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
    }
    .tugma{
        width: 100%;
    }
    .wrapper-delivery{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .box-1{
        width: 100%;
    }
    .wrapper-about-us{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
    .about-left{
        width: 100%;
    }
    .about-right{
        width: 100%;
    }
    .wrapper-menu-items{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .menu-item{
        width: 100%;
    }
    .second-page-h2{
        text-align: center;
    }
    .wrapper-takeaway{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .takeaway-left{
        width: 100%;
    }
    .takeaway-right{
        position: unset;
    }
    .swiper{
        max-width: 500px;
        height: auto;
    }
    .wrapper-swiper-slide .box-matn{
        text-align: center;
    }
    
}

@media (max-width: 500px){
    .wrapper-footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}

@media (max-width: 400px){
    .box-1{
        width: 100%;
    }
    :root{
        --sarlavhalarColor: #150C01;
        --sarlavhaFontweight: 700;
        --sarlavhaFontFam: "Philosopher";
        --matnOpacity: 70%;
        --sarlavhaLineH: 40.63px;
    }
    .h22{
        font-size: 1.2rem;
    }
    .wrapper-btns{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .tugma{
        width: 100%;
    }
    .hero-sarlavha{
        font-size: 2rem;
    }
    .hero{
        height: 100%;
        padding-bottom: 2rem;
    }
    .container{
        padding-right: 1rem;
        padding-left: 1rem;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    #tex, #send{
        width: 100%;
    }
    
    
}

